body{
  font-family: Helvetica;
  text-align: center;
}

h1{
font-size: 70px;
font-weight: bold;
}

div{
  background-image: url(resources/back.png);
  color: white;
}
h2{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

a{
  font-size: 18px;
}

footer{
font-size: 11px;
background-color: dimgray;
color:white;
}

a.footer{
  font-size: 11px;
  font-weight: bold;
}
